@import 'tailwindcss' source('../');
@import "@fontsource-variable/manrope";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/epilogue";

@theme inline {
  --font-manrope: 'Manrope Variable', sans-serif;
  --font-inter: 'Inter Variable', sans-serif;
  --font-epilogue: 'Epilogue Variable', sans-serif;
}

html {
  font-size: 62.5%;
}

@layer base {

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	.tainer {
		@apply w-full max-w-[123.3rem] mx-auto;
	}
}
